In [2]:
x = 4
y = 3
z = x + y
print(z)

# learning resource on FreeCodeCamp - Python bootcamp
# https://www.youtube.com/watch?v=LHBE6Q9XlzI
# or coding https://leetcode.com/

7

In [8]:
# You don't need to define a variable type in Python, Python will do it 
# automatically - numbers are stored as 64 bit float or int
num_1 = 5
num_2 = 5.0

# as these are the same types, you can do similar things with them
# but this doesn't always apply if the type is different, like text 

num_3 = "5" # number as string
print(num_1)
print(num_3)

print("num_1 is",type(num_1))
print("num_3 is",type(num_3))

5
5
num_1 is <class 'int'>
num_3 is <class 'str'>

In [11]:

# In this cell, initialise two numeric variables and find their product
# using the * operator for multiplication and assign this to a new variable.
# Print the new variable

N1 = 2
N2 = 3
N3 = N1 * N2
print(N3)
 
# The radius of a circle is 2, assume that Pi is 3.14. Assign both of these
# to suitably named variables and find the area of the circle.
# We can find the area of a circle by finding the product of Pi with the radius squared.
# You probably don't know how to square a number in Python yet, so use Google to work it out!

r = 2
Pi = 3.14
Area = Pi * (r**2) # dont need the brackets in this case, but safety first
print(Area)

6
12.56

In [16]:
# Concatenting can be useful for things like dynaimc chart or report titles
name = "James"
hobby = "photography"
phrase = name + " likes " + hobby
print(phrase)

# You could use these in drop down menus too
value_x = "CIN Plans"
title = value_x + " per year (rate per 10k)"
print(title)

James likes photography
CIN Plans per year (rate per 10k)

In [20]:
# We can make f or formatted strings - we can directly put the variable instead the string rather than concat
# This can be useful in report creation 

phrase_2 = f"My name is {name} and I likes {hobby}"
print(phrase_2)

My name is James and I likes photography

In [23]:
''' In this cell, initialise two appropriately named variables, one for your name and one for your job title.
Next, combine them in an f string, assigned to a different, appropriately named variable.
Finally, print the f string.
 
Make a variable for a string and one for a number,
Try and add them (not inside an f string) and see what happens '''

job = "Senior Analyst"
phrase_3 = f"My name is {name} and my job is {job}"
print(phrase_3)

# combine = num_1 + job will not work due to type incompatability

phrase_4 = f"{num_1} and {job}"
print(phrase_4)

My name is James and my job is Senior Analyst
5 and Senior Analyst

In [33]:
# An index in python starts at 0, we can slice our data similar to in R
num_string ="123456789"

sub_string = num_string[3]
print(sub_string)
sub_string = num_string[1:7]
print(sub_string)

#start is INCLUSIVE
#stop is EXCLUSIVE
sub_string = num_string[0:3] #third element is actually four, as shown above as it is excluded 
print(sub_string)
sub_string = num_string[-3] # returns third from the end
print(sub_string)
sub_string = num_string[-1::-1] # reverse a string
print(sub_string)

4
234567
123
7
987654321

In [37]:
filename = "CLAs.csv"
filename = filename[:-4]
print(filename)

CLAs